insaccvenv/
.obsidian/
config.json
old/
*.pyc
__pycache__/
.vscode
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
venv/
.env

!backend/core/logs/.keep
local_settings.py

cas-server/node_modules/
cas-server/node_modules.*
