/*We have to use this since the var() doesnt work in media*/
$minWidth: 850px;

.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 10px;
    max-width: $minWidth;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    
    @media (max-width: $minWidth) {
      flex-direction: column;
      align-items: center;
      visibility: hidden;
      position: fixed;
      border: none;
      border-left: solid;
      border-width: 6px;
      border-color: var(--burgerBackgroundBorderColor);
      right: 0;
      top: 0;
      width: 40%;
      height: 100%;

      justify-content:start;
      background-color: var(--burgerBackgroundColor);

    }
    
    .item {
      padding: 16px 20px;
      cursor: pointer;
      transition: color .3s ease-out;
      text-decoration: none;
      color: #000000;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      margin: 5px 0;
      @media (max-width: $minWidth) {
        color : white;
      }
      &.active {
        color: #ffffff;
        @media (max-width: $minWidth) {
          background-color : var(--burgerButtonColor);
          border-radius: 10px;
        }
      }
    }
    
    .indicator {
      position: absolute;
      background-color: #000000;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 30px;
      @media (max-width: $minWidth) {
        visibility: hidden;
      }
    }
  }
  
  .fold
  {
    background-color: var(--burgerButtonColor);
    width: 80px;
    aspect-ratio: 1/1;
    position: fixed;
    border-radius: 25%;
    right: 5px;
    bottom: 5px;
    color:white;
    font-size: 33px;
    z-index: 2;
    text-align: center;
    visibility: collapse;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    @media (max-width: $minWidth) {
      visibility: visible;
    }
  }
  
  @media (max-width: $minWidth)
  {
    .visible
    {
      visibility: visible;
    }
  }
  
  #backmenu
  {
    background-color: none;
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background-color: #111;
    opacity: 0.2;

  }
  
  @media (min-width: $minWidth) {
    #backmenu {
      background-color: none;
      visibility: hidden;
      opacity: 0;
    }
  }