.loadingBackground {
    display: flex;
    justify-content : center;
    align-items: center center;
    height:100%;
    width:100%;
    background-color: #202020;
    position: absolute;
    top:0;
    left:0;
    z-index:100;
}

#rotating-logo {
    width: 30svh;
    align-self: center;
}

.WIP {
    width:100%;
    height:100%;
    display:table;
    
    h1 {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        color: var(--textColor);
    }
}