.loadingBackground {
    display: flex;
    justify-content : center;
    align-items: center center;
    height:100%;
    width:100%;
    background-color: #202020;
    position: absolute;
    top:0;
    left:0;
    z-index:100;
}

#rotating-logo {
    width: 30svh;
    align-self: center;
}