.event {
  border: none;
  border-left: 8px solid var(--eventBorderColor);
  border-radius: 8px;
  background: var(--eventColor);
  color: var(--eventTextColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .event:hover {
    background: var(--eventHoverColor); 
    border-left: 8px solid var(--eventHoverBorderColor); 
    transform: translateY(-3px); 
  }
}


.title{
  font-weight: 600;
  margin-bottom: 0.1vw;
  font-size: 1.8svh;
}

.time, .teacher, .room {
  font-weight: 430;
  margin-bottom: 0.1vw;
  font-size: max(0.6vw, 1.7svh);
  height: auto;
}