
//----- BOOTSTRAP OVERRIDE------//

.btn, .btn-primary {
  border:var(--contrastBorderColor) !important;
  color: var(--contrastTextColor) !important;
  background-color: var(--buttonColor) !important;
}

.dropdown-menu.show, 
.dropdown-item,
.btn-custom .dropdown-toggle{
    border:var(--contrastBorderColor) !important;
    color: var(--contrastTextColor) !important;
    background-color: var(--buttonColor) !important;
}

.btn-custom .dropdown-toggle:hover,
.btn-custom .dropdown-toggle:focus,
.btn-custom .dropdown-toggle:active,
.dropdown-item:active,
.dropdown-item:hover,
.btn-custom.show .dropdown-toggle {
  background-color:var(--buttonHoverColor) !important;
  border-color:var(--eventHoverBorderColor) !important;
}

.dropdown-item.active {
  background-color:var(--buttonActiveColor) !important;
}

//-----------------------------------------------------------//

.view {
  width:100%;
  display: flex;
}

.btn_view {
  margin:1%;
  flex:1;
}

.dropdown_container {
  display:flex;
  margin:2%;
  flex-wrap: wrap;
}

.select {
  margin-left:5px;
  margin-right: 5px;
}

.settings {
  color : var(--textColor);
}

.checkbox-list {
    max-width: 400px;
    padding: 20px;
    background-color: var(--subSectionBackgroundColor);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--shadowColorBold);

  }
  .checkbox-list li { 
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--textColor);
    transition: background-color 0.2s ease;
    border-bottom: 1px solid var(--borderColor);
  }
  
  .checkbox-list li:hover {
    background-color: var(--hoverHighlight) ;
  }
  
  .checkbox-list input[type="checkbox"] {
    margin-right: 10px;
    accent-color: var(--buttonColor); 
    transform: scale(1.5);
  }
  
  .button_validate {
    background-color: var(--buttonColor);
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .button_validate:hover {
    background-color: var(--buttonHoverColor);
  }
  
  .validate p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: var(--messageColor);
  }

  .main_container{
    background-color: var(--backgroundColor);
  }

  .copy-container {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 2rem auto;
    background: var(--subSectionBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px var(--shadowColor);
  }

  .copy-input {
    flex: 1;
    border: none;
    padding: 12px 16px;
    font-size: 1rem;
    background: transparent;
    color: var(--textColor);
  }

  .copy-input:focus {
    outline: none;
    background: #e9ecef;
  }
