.events {
  display: block;
  height: 90%;
  border-radius: 5px;
  background: var(--eventBgColor);
  position: relative;
}

.date {
  height: var(--dateHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1svh;
  gap: 0.5svw;
  position: relative;
}

.date-content {
  display: flex;
  gap: 0.5svw;
  align-items: center;
  justify-content: center;
  flex: 3;
  margin-top: auto;
}

.mobile-datepicker {
  transform: translate(-15%, -25%);
  z-index: 2000;
}

.date-num,
.date-day,
.date-month {
  font-size: var(--dateTextSize);
  display: flex;
  container-name: date;
  color: var(--textColor);
}

.date-num {
  font-weight: 600;
}

.date-day,
.date-month {
  font-weight: 100;
}
