.events {
  display: block;
  height: 90%;
  border-radius: 5px;
  background: var(--eventBgColor);
  position: relative;
}

.date {
  height: var(--dateHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1svh;
  gap: 0.5svw;
  position: relative;
}

.mobile-datepicker {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-65%);
  z-index: 10;
}

.date-content {
  display: flex;
  gap: 0.5svw;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.date-num,
.date-day,
.date-month {
  font-size: var(--dateTextSize);
  display: flex;
  container-name: date;
  color: var(--textColor);
}

.date-num {
  font-weight: 600;
}

.date-day,
.date-month {
  font-weight: 100;
}

@media (max-width: 768px) {
  .mobile-datepicker {
    left: 0;

    .position-absolute {
      transform: translateX(-8%) !important;
    }
  }
  
  .date {
    padding: 0 40px 0 40px;
  }
}