:root {
  --numDays: 5;
  --minWidth : 850px;
  --hoverHighlight: #f0f0f0;
  --messageColor: #7c7c7c;
  --textColor:#333;
  --borderColor: #dbdbdb;
  --subSectionBackgroundColor: #f8f9fa;
  --contrastBorderColor: #db342c;
  --eventColor: #d44d44;
  --contrastTextColor :white;
  --eventHoverColor: #ff6b6b;
  --eventHoverBorderColor: #ff4b4b;
  --rotateTime: 2s;
  --eventBgColor: #f3eceb;
  --dateTextSize: max(3.4vh, 2.1vw);
  --dateHeight: 6svh;
  --numHours: 8;
  --burgerButtonColor: #ad2821;
  --burgerBackgroundColor: #db342c;
  --burgerBackgroundBorderColor: #d40b00;
  --buttonColor: #db342c;
  --buttonHoverColor:  #ca2e26;
  --buttonActiveColor: #af231c;
  --checkboxBackgroundColor: #f9f9f9;
  --shadowColorBold:rgba(0, 0, 0, 0.3);
  --shadowColor:rgba(0, 0, 0, 0.1);
  --backgroundColor :#ffffff;

}

//---------------------------------------------------------------//
//                           UTILS                                //
//---------------------------------------------------------------//

#rotating-logo {
  animation: rotation var(--rotateTime) infinite linear
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  } 
}

.logo {
  position: absolute;
  top: 0;
  width: 30%;
  max-width: 250px;
  left: 1rem;
  aspect-ratio: 3/1;
  visibility: visible;
  @media (max-width : 850px){
    visibility: hidden;
  }
}