:root {
  --numDays: 5;
  --minWidth : 850px;
  --eventBorderColor: #db342c;
  --eventColor: #d44d44;
  --eventTextColor :white;
  --eventHoverColor: #ff6b6b;
  --eventHoverBorderColor: #ff4b4b;
  --rotateTime: 2s;
  --eventBgColor: #f3eceb;
  --dateTextSize: max(3.4vh, 2.1vw);
  --dateHeight: 6svh;
  --numHours: 8;
  --burgerButtonColor: #ad2821;
  --burgerBackgroundColor: #db342c;
  --burgerBackgroundBorderColor: #d40b00;
  --buttonColor: #db342c;
  --buttonHoverColor:  #ca2e26;
}

//---------------------------------------------------------------//
//                           UTILS                                //
//---------------------------------------------------------------//

#rotating-logo {
  animation: rotation var(--rotateTime) infinite linear
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  } 
}
.logo {
  position: absolute;
  top: 0;
  left:40px;
  visibility: visible;
  width: 250px;
  aspect-ratio: 3/1;
  @media (max-width : 850px){
    visibility: hidden;
  }
}