body {
    font-family: system-ui, sans-serif;
    height: 100svh;
    background: var(--backgroundColor);
}

#root {
    display: block;
    height: 100%;
    background: var(--backgroundColor);
    background-attachment: fixed;
    
}

.App {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.MuiAlert-standard, .MuiAlert-filled {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    margin: 1%;
}
