body {
    font-family: system-ui, sans-serif;
    height: 100svh;
    background: var(--backgroundColor);
}

#root {
    display: block;
    height: 100%;
}

.App {
    display: flex;
    height: 100%;
    flex-direction: column;
}

