body {
  font-family: system-ui, sans-serif;
  min-height: 100svh;
  background-color: var(--backgroundColor);
}

#root {
  display: block;
  height: 100svh;
  background-color: var(--backgroundColor);
  background-attachment: fixed;
}

.App {
  display: flex;
  height: 100svh;
  flex-direction: column;
}

.MuiAlert-standard,
.MuiAlert-filled {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  margin: 1%;
}
