
.dropdown-select button{
    border:var(--eventBorderColor);
    color: var(--eventTextColor);
    background-color: var(--eventColor);

    &:hover, &:active {
        background-color:var(--eventHoverColor);
        border-color:var(--eventHoverBorderColor);
    }

    &.active, &.show {
        background-color: var(--eventColor);
    }
}

.dropdown-select div {
    background-color: var(--eventColor);

    &.active, &:active {
        background-color: var(--eventColor);
    }
}   

.checkbox-list {
    max-width: 400px;
    // margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  }
  /*Style for each checkbox*/
  .checkbox-list li { 
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid #eee;
  }
  
  .checkbox-list li:hover {
    background-color: #f0f0f0;
  }
  
  .checkbox-list input[type="checkbox"] {
    margin-right: 10px;
    accent-color: var(--buttonColor); 
    transform: scale(1.5);
  }
  
  .button_validate {
    background-color: var(--buttonColor);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .button_validate:hover {
    background-color: var(--buttonHoverColor);
  }
  
  /* Style for the button message */
  .validate p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #7c7c7c;
  }

  .main_container{
    display: flex;
    align-items: flex-start;
  }

  .copy-container {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 2rem auto;
    background: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }

  .copy-input {
    flex: 1;
    border: none;
    padding: 12px 16px;
    font-size: 1rem;
    background: transparent;
    color: #212529;
  }

  .copy-input:focus {
    outline: none;
    background: #e9ecef;
  }
